body {
    background-color:#f1f1f1;
    font-family: Helventica, Arial, san-serif;
    margin: 0;
}

.container{
    font-size: 20px;
    background-color: #ffffff;
    width: 1000px;
    margin: 0 auto;
}

.content{
    padding: 12px
}